:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --accent-1: #fbfdff;
    --accent-2: #f4faff;
    --accent-3: #e6f4fe;
    --accent-4: #d5efff;
    --accent-5: #c2e5ff;
    --accent-6: #acd8fc;
    --accent-7: #8ec8f6;
    --accent-8: #5eb1ef;
    --accent-9: #0090ff;
    --accent-10: #0588f0;
    --accent-11: #0d74ce;
    --accent-12: #113264;
    --gray-0: #ffffff;
    --gray-1: #fcfcfc;
    --gray-2: #f9f9f9;
    --gray-3: #f0f0f0;
    --gray-4: #e8e8e8;
    --gray-5: #e0e0e0;
    --gray-6: #d9d9d9;
    --gray-7: #cecece;
    --gray-8: #bbbbbb;
    --gray-9: #8d8d8d;
    --gray-10: #838383;
    --gray-11: #646464;
    --gray-12: #202020;
    --green-1: #fbfefd;
    --green-2: #f4fbf7;
    --green-3: #e6f7ed;
    --green-4: #d6f1e3;
    --green-5: #c3e9d7;
    --green-6: #acdec8;
    --green-7: #8bceb6;
    --green-8: #56ba9f;
    --green-9: #29a383;
    --green-10: #26997b;
    --green-11: #208368;
    --green-12: #1d3b31;
    --yellow-1: #fdfdf9;
    --yellow-2: #fefce9;
    --yellow-3: #fffab8;
    --yellow-4: #fff394;
    --yellow-5: #ffe770;
    --yellow-6: #f3d768;
    --yellow-7: #e4c767;
    --yellow-8: #d5ae39;
    --yellow-9: #ffe629;
    --yellow-10: #ffdc00;
    --yellow-11: #9e6c00;
    --yellow-12: #473b1f;
    --orange-1: #fefcfb;
    --orange-2: #fff7ed;
    --orange-3: #ffefd6;
    --orange-4: #ffdfb5;
    --orange-5: #ffd19a;
    --orange-6: #ffc182;
    --orange-7: #f5ae73;
    --orange-8: #ec9455;
    --orange-9: #f76b15;
    --orange-10: #ef5f00;
    --orange-11: #cc4e00;
    --orange-12: #582d1d;
    --red-1: #fffcfc;
    --red-2: #fff7f7;
    --red-3: #feebec;
    --red-4: #ffdbdc;
    --red-5: #ffcdce;
    --red-6: #fdbdbe;
    --red-7: #f4a9aa;
    --red-8: #eb8e90;
    --red-9: #e5484d;
    --red-10: #dc3e42;
    --red-11: #ce2c31;
    --red-12: #641723;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    background: #ffffff;
}

a {
    color: inherit;
    text-decoration: none;
}
